In [1]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\Dell\Downloads\Sample_Longlist_Data.xlsx"
df = pd.read_excel(file_path)

In [2]:
df.head()

,Date Added,category,sellerlink,sellerlink-url,sellerstorefront-url,sellerproductcount,sellerratings,sellerdetails,seller business name,businessaddress,Count of seller brands,Max % of negative seller ratings - last 30 days,Max % of negative seller ratings - last 90 days,Max % of negative seller ratings - last 12 months,Hero Product 1 #ratings,Hero Product 2 #ratings,Sample brand name,Sample Brand URL
0,2020-11-15,Garden,Seller 1,Seller 1-link,Seller 1-storefrontlink,"1-16 of over 100,000 results",88% positive in the last 12 months (118 ratings),Lohas Living Inc James Mazzello US 845 3RD Ave...,Business Name:Lohas Living Inc,411 THEODORE FREMD AVESTE 206 SOUTHRyeNY10580-...,16,17,11,12,5873,4957,Visit the YAMAZAKI Store,https://www.amazon.de/-/en/stores/YAMAZAKI/pag...
1,2020-11-15,Garden,Seller 2,Seller 2-link,Seller 2-storefrontlink,NaN,90% positive in the last 12 months (566 ratings),Herzlich Willkommen im Amazon Shop von 1a-Hand...,Business Name:1a-Handelsagentur,1a HandelsagenturLindenallee 2MalchowMecklenbu...,0,2,2,9,0,0,Visit the tesa Store,https://www.amazon.de/-/en/stores/tesa/page/12...
2,2020-11-15,Garden,Seller 3,Seller 3-link,Seller 3-storefrontlink,"1-16 of over 2,000 results",85% positive in the last 12 months (75 ratings),67878u6i7 is committed to providing each custo...,Business Name:nantongaohuanfangzhipinyouxiango...,zhongnanshijicheng27zhuang1410haochongchuanqun...,15,0,25,12,164,162,TXYFYP,https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
3,2020-11-15,Garden,Seller 4,Seller 4-link,Seller 4-storefrontlink,1-16 of 123 results,NaN,7 days home life supermarket is committed to p...,Business Name:Zhengzhou Yaoqiong Trading Company,河南省中兴南路福禄街自贸试验区郑州片区（郑东）河南商会大厦1901室450000CN,1,0,0,0,0,0,SHIFENG,https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...
4,2020-11-15,Garden,Seller 5,Seller 5-link,Seller 5-storefrontlink,"1-16 of over 1,000 results",81% positive in the last 12 months (52 ratings),78 68yui678 is committed to providing each cus...,Business Name:shenzhenfeichangshangmeimaoyiyou...,minzhidadaoshaxialaocun94dongA901longhuaxinqus...,16,0,31,15,224,113,YUOKI99,https://www.amazon.de/-/en/s/ref=bl_dp_s_web_0...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1839 entries, 0 to 1838
Data columns (total 18 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date Added                                         1839 non-null   datetime64[ns]
 1   category                                           1839 non-null   object
 2   sellerlink                                         1839 non-null   object
 3   sellerlink-url                                     1839 non-null   object
 4   sellerstorefront-url                               1839 non-null   object
 5   sellerproductcount                                 1513 non-null   object
 6   sellerratings                                      1411 non-null   object
 7   sellerdetails                                      1812 non-null   object
 8   seller business name                               1783 non-null   object
 9   businessaddress                                    1764 non-null   object
 10  Count of seller brands                             1839 non-null   int64
 11  Max % of negative seller ratings - last 30 days    1839 non-null   int64
 12  Max % of negative seller ratings - last 90 days    1839 non-null   int64
 13  Max % of negative seller ratings - last 12 months  1839 non-null   int64
 14  Hero Product 1 #ratings                            1839 non-null   int64
 15  Hero Product 2 #ratings                            1839 non-null   int64
 16  Sample brand name                                  1835 non-null   object
 17  Sample Brand URL                                   1839 non-null   object
dtypes: datetime64[ns](1), int64(6), object(11)
memory usage: 258.7+ KB

In [4]:
import re

# Function to extract product count from sellerproductcount column
def extract_product_count(text):
    match = re.search(r'over ([\d,]+)', str(text))
    if match:
        return int(match.group(1).replace(',', ''))
    match = re.search(r'(\d+),?(\d*) results', str(text))
    if match:
        return int(match.group(1) + (match.group(2) if match.group(2) else '0'))
    return None

df["parsed_sellerproductcount"] = df["sellerproductcount"].apply(extract_product_count)

In [5]:
df['parsed_sellerproductcount']

0       100000.0
1            NaN
2         2000.0
3         1230.0
4         1000.0
          ...
1834      2000.0
1835      5000.0
1836     10000.0
1837      4730.0
1838     20000.0
Name: parsed_sellerproductcount, Length: 1839, dtype: float64

In [6]:
# Function to extract rating percentage and rating count
def extract_seller_ratings(text):
    match = re.search(r'(\d+)% positive.*\((\d+) ratings\)', str(text))
    if match:
        return int(match.group(1)), int(match.group(2))
    return None, None

df[["parsed_rating_percent", "parsed_rating_count"]] = df["sellerratings"].apply(lambda x: pd.Series(extract_seller_ratings(x)))

In [8]:
df[["parsed_rating_percent", "parsed_rating_count"]]

      parsed_rating_percent  parsed_rating_count
0                      88.0                118.0
1                      90.0                566.0
2                      85.0                 75.0
3                       NaN                  NaN
4                      81.0                 52.0
...                     ...                  ...
1834                   83.0                 46.0
1835                    NaN                  NaN
1836                    NaN                  NaN
1837                    NaN                  NaN
1838                    NaN                  NaN

[1839 rows x 2 columns]

In [9]:
# Function to extract email and phone number from sellerdetails
def extract_contact_details(text):
    email_match = re.findall(r'[\w\.-]+@[\w\.-]+\.\w+', str(text))
    phone_match = re.findall(r'\+?\d[\d\-\(\) ]{9,}\d', str(text))
    
    email = email_match[0] if email_match else None
    phone = phone_match[0] if phone_match else None
    return email, phone

df[["email", "phone_number"]] = df["sellerdetails"].apply(lambda x: pd.Series(extract_contact_details(x)))

In [10]:
df[["email", "phone_number"]]

                          email    phone_number
0         jadgemaello@gmail.com  +1208-964-6807
1     info@1a-handelsagentur.de   039932-829721
2                          None            None
3                          None            None
4                          None            None
...                         ...             ...
1834                       None            None
1835                       None            None
1836                       None            None
1837                       None            None
1838                       None            None

[1839 rows x 2 columns]

In [11]:
# Function to extract seller country from businessaddress
def extract_country(text):
    if isinstance(text, str):
        if 'CN' in text or 'China' in text:
            return 'China'
        elif 'DE' in text or 'Germany' in text:
            return 'Germany'
        elif 'US' in text or 'United States' in text or 'USA' in text:
            return 'USA'
    return 'Other'

df["seller_country"] = df["businessaddress"].apply(extract_country)

# Filter out Chinese sellers
df = df[df["seller_country"] != "China"]

In [12]:
# Convert Hero Product Ratings columns to numeric
df["hero_product_1_ratings"] = pd.to_numeric(df["Hero Product 1 #ratings"], errors='coerce').fillna(0)
df["hero_product_2_ratings"] = pd.to_numeric(df["Hero Product 2 #ratings"], errors='coerce').fillna(0)

In [13]:
# Calculate total hero product ratings
df["total_hero_product_ratings"] = df["hero_product_1_ratings"] + df["hero_product_2_ratings"]

In [14]:
df['total_hero_product_ratings']

0       10830
1           0
5        6228
14       2367
19          0
        ...
1808      106
1813      109
1814     1102
1815    38602
1828        0
Name: total_hero_product_ratings, Length: 600, dtype: int64